
.ComponentContainer {
  width: fit-content;
  min-width: 350px;
  /* border: 1px solid #c1d1d1; */
  box-shadow: rgba(0,0,0,0.15) 3px 3px 6px;
  border-radius: 3px;
  padding: 0.8rem;
  margin: 0.8rem;
  background-color: #f1f1f1;
}

.Button {
  margin: 3px;
  padding: 3px 6px;
  cursor: pointer;
  background-color: transparent;
  color: rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.2);
  font-size: 0.7em;
}
