
.ComponentContainer {
  width: fit-content;
  min-width: 350px;
  border: 1px solid #b1b1b1;
  box-shadow: rgba(0,0,0,0.25) 3px 3px 6px;
  border-radius: 3px;
  padding: 0.8rem;
  margin: 0.8rem;
  background-color: #e1e1e1;
}

.Button {
  margin: 3px;
  padding: 3px 6px;
  cursor: pointer;
  background-color: transparent;
  color: rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.2);
  font-size: 0.7em;
}
