
.ComponentContainer {
  width: fit-content;
  min-width: 350px;
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: #d1d1d1;
}

.Button {
  margin: 5px;
  padding: 3px 5px;
  cursor: pointer;
}
